<div class="container">
<div class="col-md-12" "col-sm6">

<h4>タスクを登録する</h4>

<div class="row">
  <%= form_with(model: @task, local: true ) do |form| %>
    <%= if @task.errors.any? %>
      <h2>hogehoge<%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
        <%= @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul> 
    <% end %>
     
    <%= form.label :タスクの内容 %>
    <%= form.text_area :content, class:"form-control" %>
    <br>
    <%#= form.label :参考資料 %>
    <%#= form.file_field :image, id: :task_image, class:"form-control" %>
    <%#= form.hidden_field :image_cache, class:"form-control" %>
    <h4>期限</h4><%= form.date_field :deadline,:placeholder => "YYYY/MM/DD",class:"form-control" %>
    <br>
    
    <center>
      <table>
        <% unless current_user.id == 1 %>
         <label for="InputSelect"><%= form.radio_button :action_user_id, "1", class:"form-control" %>オット</label>
        <% else %>
         <label for="InputSelect"><%= form.radio_button :action_user_id, "2", class:"form-control" %>ツマ</label>
        <% end %>
      </table>
    </center>
    
    <p><%= form.submit '依頼する', class: 'btn btn-primary btn-block' %></p>
  <% end %>
</div>

<p><%= link_to "タスク一覧画面にもどる", tasks_path %></p>
<br>
<br>
</div>
</div>