<div class="container">
<div class="col-md-12" "col-sm6">

<h5>タスク一覧</h5>
<p><%= notice %></p>


<table class="table table-striped">

  <tr>
    <th>誰のタスク？</th>
    <th>内容</th>
    <th>期限</th>
    <th>status</th>
    <th>maru</th>
    <th>参考資料</th>
  </tr>

    <% @tasks.each do |task| %>
  <tr> 
    <td><% if task.user.name == 'test君' %>
          ツマ
        <% else task.user.name == 'ひらりん' %>
          オット
        <% end %></td>
    <td><%= task.content %></td>
    <td><%= task.deadline %></td>
    <td><% if task.status == true %>
       完了だよ！
　　<% else %>
       未完了だよ！
    <% end %></td>
    
    <td><% unless task.request_user_id == current_user.id %>
    <%= link_to "タスク完了", task_path(task.id), method: :delete, data: { confirm: '本当に完了していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    <% else %>
    <%= link_to "タスク編集", edit_task_path(task.id), class: 'btn btn-default btn-sm btn-success' %>
    <% end %></td>
    
    
       

      
      
    </tr>            
    <% end %>
    
    <td>
            <%#= image_tag(task.image) %>

       <%# t = task.action_user_id %>
          <%# action_user = @users.find(t) %>
          <%#= action_user.name %>
      
      </td>
    
  </table> 
</div>
</div>

  
   
