<div class="container">
  <div class="row">

<div class="col-md-12" "col-sm6">

<h5>タスク一覧</h5>
<p><%= notice %></p>


<table class="table table-striped">

  <tr>
    <th>やる人</th>
    <th>内容</th>
    <th>期限</th>
    <th>ステータス</th>
    <th>参考資料</th>
  </tr>

    <% @tasks.each do |task| %>
  <tr> 
    <td><% if task.user.name == 'オット' %>
          ツマ
        <% else task.user.name == 'ツマ' %>
          オット
        <% end %>
    </td>
    
    <td><%= task.content %></td>
    <td><%= task.deadline %></td>

    <td><% if task.user.name == current_user.name %>
      <%= link_to "タスク完了", task_path(task.id), method: :delete, data: { confirm: '本当に完了していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
      <%= link_to "タスク編集", edit_task_path(task.id), class: 'btn btn-default btn-sm btn-success' %>
    <% end %>

    
    </td>
    
    <td>
            <%= image_tag(task.image.url) %>
            <%= task.user&.name %>
      
    </td>
  </tr>            
    <% end %>    
    
    
  </table> 
  
  
  
  
</div>
</div>

  
   
