<div class="container">


<h4>タスクを登録する</h4>

      <div class="row">
          	<div class="col-md-12" "col-sm6">

        <%= form_with(model: @task, local: true ) do |form| %>
          		<% if @task.errors.any? %>
               	 <h2><%= @task.errors.count %>件のエラーがあります。</h2>
            	  <ul>
              		<% @task.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                     <% end %>
                    </ul> 
                 <% end %>


     	    <%= form.label :タスクの内容 %>
        	<%= form.text_area :content, class:"form-control" %>
        	<br>
                <%= form.label :参考資料 %>
                <%= form.file_field :image, id: :task_image, class:"form-control" %>
                <%= form.hidden_field :image_cache, class:"form-control" %>
         
         	<%#= form.date_field :deadline,:placeholder => "YYYY/MM/DD",class:"form-control" %>
         	<h5>期限</h5><%= form.date_select :deadline,:placeholder => "YYYY/MM/DD",class:"form-control" %>
  


    <br>
  
  <p><%= form.submit '依頼する', class: 'btn btn-primary btn-block' %></p>

   <% end %>
    
    </div>
    
    <p><%= link_to "タスク一覧画面にもどる", tasks_path %></p>
            <%#= form_for %>
                 <%#= f.label :"ステータス" %><br>
                 <%#= f.select :status, [["国語", "国語"]] ,class:"form-control" %>
            <%# end %>

  </div>
</div>